<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Netduino.Foundation" version="0.7.490" targetFramework="netmf43" />
  <package id="Netduino.Foundation.HIH6130" version="0.7.0" targetFramework="netmf43" />
  <package id="Netduino.Foundation.SerialLCD" version="0.7.0" targetFramework="netmf43" />
</packages>